<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DSA_lims.Properties.Settings.DSADB" connectionString="Server=.\SQLExpress;Database=dsa_lims;Trusted_Connection=True;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>